
<!doctype html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Open-Source Email Finder by Big Picture</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="Easily find any email address for free!"/>
        <meta property="og:site_name" content="Email Finder"/>
        <meta property="og:title" content="Open-Source Email Finder by Big Picture"/>
        <meta property="og:image" content="img/email-finder.png"/>
        <meta property="og:url" content="https://email-finder.herokuapp.com/"/>
        <meta property="og:locale" content="en_US"/>
        <meta name="og:description" content="Easily find any email address for free!"/>
        <meta name="og:creator" content="@bigpicturebiz"/>
        <meta name="twitter:card" content="summary_large_image"/>
        <meta name="twitter:site" content="@bigpicturebiz"/>
        <meta name="twitter:title" content="Open-Source Email Finder by Big Picture"/>
        <meta name="twitter:description" content="Easily find any email address for free!"/>
        <meta name="twitter:image:src" content="img/email-finder.png"/>

        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="apple-touch-icon" sizes="57x57" href="img/android-icon-144x144.png"/>
        <link rel="apple-touch-icon" sizes="60x60" href="img/apple-icon-60x60.png"/>
        <link rel="apple-touch-icon" sizes="72x72" href="img/apple-icon-72x72.png"/>
        <link rel="apple-touch-icon" sizes="76x76" href="img/apple-icon-76x76.png"/>
        <link rel="apple-touch-icon" sizes="114x114" href="img/apple-icon-114x114.png"/>
        <link rel="apple-touch-icon" sizes="120x120" href="img/apple-icon-120x120.png"/>
        <link rel="apple-touch-icon" sizes="144x144" href="img/apple-icon-144x144.png"/>
        <link rel="apple-touch-icon" sizes="152x152" href="img/apple-icon-152x152.png"/>
        <link rel="apple-touch-icon" sizes="180x180" href="img/apple-icon-180x180.png"/>
        <link rel="icon" type="image/png" sizes="192x192"  href="img/android-icon-192x192.png"/>
        <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png"/>
        <link rel="icon" type="image/png" sizes="96x96" href="img/favicon-96x96.png"/>
        <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png"/>

        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

        <link rel="stylesheet" href="css/main.css">

    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <div class="content">
          <nav class="teal" role="navigation">
            <div class="nav-wrapper container">
              <a id="logo-container" href="https://www.thebigpicture.io" target="_blank" class="brand-logo">
                <img src="img/big-picture-logo-white.png" alt="Big Picture"/>
              </a>
              <ul class="right hide-on-med-and-down">
                <li>
                  <a class="btn" href="https://github.com/mfrye/email-finder" target="_blank">Get the code</a>
                </li>
              </ul>

              <ul id="nav-mobile" class="side-nav">
                <li class="logo">
                  <a id="logo-container" href="https://www.thebigpicture.io" target="_blank">
                    <img src="img/big-picture-logo-black.png" alt="Big Picture"/>
                  </a>
                </li>
                <li><a href="https://github.com/mfrye/email-finder" target="_blank">Get the code</a></li>
                <li><a href="https://www.thebigpicture.io" target="_blank">Learn more about Big Picture</a></li>
              </ul>
              <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            </div>
          </nav>

          <div class="section">
            <div class="container">

              <div class="header center">
                <h1>Email Finder</h1>

                <div class="row center">
                  <h5 class="header col s12 light">Easily find any email address for free!</h5>
                </div>
              </div>
            </div>
          </div>

          <div class="section">
            <div class="container">

              <div class="row center">
                <h5 id="result" class="header col s12 light"></h5>
              </div>
            </div>
          </div>

          <div class="section">
            <div class="container">

              <div class="row">
                <form id="email-form" class="col s12 l8 push-l2">

                  <div class="row">
                    <div class="input-field col s6">
                      <input placeholder="Elon" id="first_name" name="first_name" type="text" class="validate" data-error="Please enter a first name">
                      <label for="first_name">First Name</label>
                    </div>
                    <div class="input-field col s6">
                      <input placeholder="Musk" id="last_name" name="last_name" type="text" class="validate" data-error="Please enter a last name">
                      <label for="last_name">Last Name</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input placeholder="spacex.com" id="domain" name="domain" type="text" class="validate" data-error="Please enter a domain">
                      <label for="domain">Domain</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col s12">
                      <button class="btn waves-effect waves-light btn-large" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                      </button>
                    </div>
                  </div>

                  <div class="row">
                    <div class="input-field col s12">
                      <p class="grey-text">Note: The system works best for work domains and may have difficultly finding personal emails (Gmail, Yahoo, etc).</p>
                    </div>
                  </div>

                  <div class="loading-cover">
                    <div class="sk-folding-cube">
                      <div class="sk-cube1 sk-cube"></div>
                      <div class="sk-cube2 sk-cube"></div>
                      <div class="sk-cube4 sk-cube"></div>
                      <div class="sk-cube3 sk-cube"></div>
                    </div>

                    <h4>Searching...</h4>
                  </div>
                </form>
              </div>
            </div>
          </div>

        </div>

        <div id="modal1" class="modal">
          <form id="email-capture">
            <div class="modal-content">
              <h4>We're glad you're finding it useful!</h4>
              <p>If you'd like to keep using Email Finder, please add your email address.</p>

              <div class="email-input">
                <div class="input-field">
                  <input id="email" name="email" type="text" class="validate" data-error="Please enter your email">
                  <label for="email">Your email address</label>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class=" modal-action modal-close waves-effect waves-green btn-flat">Submit</button>
            </div>
          </form>
         </div>

        <footer class="page-footer teal">
          <div class="container">
            <div class="row">
              <div class="col l4 s12">
                <h5 class="white-text">A Big Picture project</h5>
                <p class="grey-text text-lighten-4">Big Picture is a web analytics platform that help you understand customer behavior and identify new leads.</p>
                <a class="btn waves-effect waves-light lighten-3" target="_blank" href="https://www.thebigpicture.io">Learn more</a>
              </div>
              <div class="col l4 s12">
                <h5 class="white-text">Free to use</h5>
                <p class="grey-text text-lighten-4">This project is totally free to use. Fork and use it to build your own email finding app.</p>
                <a class="btn waves-effect waves-light lighten-3" target="_blank" href="https://github.com/mfrye/email-finder">View on Github</a>
              </div>
              <div class="col l4 s12" style="overflow: hidden;">
                <h5 class="white-text">Connect</h5>
                <iframe src="https://ghbtns.com/github-btn.html?user=mfrye&amp;repo=email-finder&amp;type=watch&amp;count=true&amp;size=large" allowtransparency="true" frameborder="0" scrolling="0" width="170" height="30"></iframe>
                <br>

                <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-follow-button twitter-follow-button-rendered" title="Twitter Follow Button" src="https://platform.twitter.com/widgets/follow_button.3748f7cda49448f6c6f7854238570ba0.en.html#dnt=true&amp;id=twitter-widget-0&amp;lang=en&amp;screen_name=bigpicturebiz&amp;show_count=true&amp;show_screen_name=true&amp;size=l&amp;time=1481328793269" style="position: static; visibility: visible; width: 283px; height: 28px;" data-screen-name="BigPictureBiz"></iframe>

                <br>

                <!-- Place this tag in your head or just before your close body tag. -->
                <script src="https://apis.google.com/js/platform.js" async defer></script>

                <!-- Place this tag where you want the widget to render. -->
                <div class="g-follow" data-annotation="bubble" data-height="24" data-href="https://plus.google.com/115692797722886463720" data-rel="publisher"></div>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2016 <a class="white-text text-lighten-3" target="_blank" href="https://www.thebigpicture.io">Big Picture</a>
            <a class="grey-text text-lighten-4 right" href="https://github.com/mfrye/email-finder/blob/master/LICENSE">MIT License</a>
            </div>
          </div>
        </footer>


        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

        <script src="js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
        <script>
            window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
            ga('create', '<%- GOOGLE_ANALYTICS_ID %>','auto');ga('send','pageview')
        </script>
        <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    </body>
</html>
