
<!doctype html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Email Finder</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

        <link rel="stylesheet" href="css/main.css">

    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <div class="content">
          <nav class="teal" role="navigation">
            <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Email Finder</a>
              <ul class="right hide-on-med-and-down">
                <li><a href="https://www.thebigpicture.io" target="_blank">A Big Picture project</a></li>
              </ul>

              <ul id="nav-mobile" class="side-nav" style="transform: translateX(-100%);">
                <li><a href="https://www.thebigpicture.io" target="_blank">A Big Picture project</a></li>
              </ul>
              <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            </div>
          </nav>

          <div class="section">
            <div class="container">

              <div class="header center">
                <h1>Email Finder</h1>

                <div class="row center">
                  <h5 class="header col s12 light">Easily find any email address for free!</h5>
                </div>
              </div>
            </div>
          </div>

          <div class="section">
            <div class="container">

              <div class="row">
                <form id="email-form" class="col s12">

                  <div class="row">
                    <div class="input-field col s6">
                      <input id="first_name" name="first_name" type="text" class="validate">
                      <label for="first_name">First Name</label>
                    </div>
                    <div class="input-field col s6">
                      <input id="last_name" name="last_name" type="text" class="validate">
                      <label for="last_name">Last Name</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="domain" name="domain" type="text" class="validate">
                      <label for="domain">Domain</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col s12">
                      <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                      </button>
                    </div>
                  </div>

                  <div class="loading-cover">
                    <div class="sk-folding-cube">
                      <div class="sk-cube1 sk-cube"></div>
                      <div class="sk-cube2 sk-cube"></div>
                      <div class="sk-cube4 sk-cube"></div>
                      <div class="sk-cube3 sk-cube"></div>
                    </div>

                    <h4>Searching...</h4>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <div class="section">
            <div class="container">

              <div class="row center">
                <h5 id="result" class="header col s12 light"></h5>
              </div>
            </div>
          </div>
        </div>

        <!-- <footer class="page-footer orange">
          <div class="footer-copyright">
            <div class="container">
            Made by <a class="orange-text text-lighten-3" href="https://www.thebigpicture.io">Big Picture</a>
            </div>
          </div>
        </footer> -->

        <footer class="page-footer teal">
          <div class="container">
            <div class="row">
              <div class="col l4 s12">
                <h5 class="white-text">A Big Picture project</h5>
                <p class="grey-text text-lighten-4">Big Picture is a web analytics platform that help you understand customer behavior and identify new leads.</p>
                <a class="btn waves-effect waves-light lighten-3" target="_blank" href="https://www.thebigpicture.io">Learn more</a>
              </div>
              <div class="col l4 s12">
                <h5 class="white-text">Free to use</h5>
                <p class="grey-text text-lighten-4">This project is totally free to use. Fork and use it to build your own email finding app.</p>
                <a class="btn waves-effect waves-light lighten-3" target="_blank" href="https://github.com/mfrye/email-finder">View on Github</a>
              </div>
              <div class="col l4 s12" style="overflow: hidden;">
                <h5 class="white-text">Connect</h5>
                <iframe src="http://ghbtns.com/github-btn.html?user=mfrye&amp;repo=email-finder&amp;type=watch&amp;count=true&amp;size=large" allowtransparency="true" frameborder="0" scrolling="0" width="170" height="30"></iframe>
                <br>
                <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-follow-button twitter-follow-button-rendered" title="Twitter Follow Button" src="http://platform.twitter.com/widgets/follow_button.3748f7cda49448f6c6f7854238570ba0.en.html#dnt=true&amp;id=twitter-widget-0&amp;lang=en&amp;screen_name=bigpicturebiz&amp;show_count=true&amp;show_screen_name=true&amp;size=l&amp;time=1481328793269" style="position: static; visibility: visible; width: 283px; height: 28px;" data-screen-name="BigPictureBiz"></iframe>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014-2016 <a class="white-text text-lighten-3" target="_blank" href="https://www.thebigpicture.io">Big Picture</a>
            <a class="grey-text text-lighten-4 right" href="https://github.com/mfrye/email-finder/blob/master/LICENSE">MIT License</a>
            </div>
          </div>
        </footer>


        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

        <script src="js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
        <script>
            window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
            ga('create', '<%- GOOGLE_ANALYTICS_ID %>','auto');ga('send','pageview')
        </script>
        <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    </body>
</html>
